exportPattern(".")

import(
  graphics,
  grDevices,
  stats,
  MASS
)

importFrom("drc", drm, ED, LN.2, LL.2, BC.4, W1.2)
importFrom("utils", "packageVersion")
importFrom("qcc", qcc)
importFrom("reshape2", melt, acast)
importFrom("odbc", odbc)
importFrom("DBI", dbConnect, dbGetQuery)
